{% extends 'EAD_app/index.html' %}
{% block body_block %}

<div class="jumbotron">
  <h2>Go to approved forms:<button type="button" class="btn btn-success"><a href="{%  url 'EAD_app:approved_secy' %}">Approved</a></button></h2>
</div>

<div class="jumbotron">
    <h1>Fill The details</h1>
    <div class="jumbotron">
      {% for app_form in approved_forms %}
        <h3>Details of approved form</h3>
        <h4>Event name: {{ app_form.event_name }}</h4>
        <h4>Venue name: {{ app_form.requested_venue_secy }}</h4>
        <h4>Date: {{ app_form.date }}</h4>
        <h4>Club/Society: {{ app_form.associated_club }}</h4>


      {% endfor %}
    </div>

    <form enctype="multipart/form-data"  method="POST">
      {% csrf_token %}
      {{ venue_form.as_p }}
      <input type="submit"  class="btn btn-primary" name="" value="booking">
    </form>
</div>

{% endblock %}
